.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.mobileHero {
  display: block;
  width: 560;
  height: 620; 
}

@media(min-width: 768px){
  .mobileHero{
    display: none
  }
}